# GLOBAL
CLIENT_DOMAIN=
SERVER_DOMAIN=
PORT=
NODE_ENV=
APP_EMAIL=

# DATA BASE
MONGO_URI=

# JWT
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES=
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRES=

# NODE MAILER
NODE_MAILER_HOST=
NODE_MAILER_PORT=
NODE_MAILER_USER=
NODE_MAILER_PASS=

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=